*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}
.section-heading h4{
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #181818;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}

/* logo */
.logo h3 {
    font-size: 45px;
    font:bolder;
}
.color-orange{
    color: #FD6E0A;
}
.text-center{
    text-align: center;
    padding-top: 113px;
}
/* main style */
header{
    background-color:#fff8f3 ;
    padding-top: 50px;
    background-image: url("../images/developer.png" ), url("../images/header_bg.png");
    background-position: 23px 50px, right bottom;
    background-repeat: no-repeat;
}

nav{
    width: 91%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type:none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    color: #474747;
    font-size: 20px;
}

/* banner style */
#banner{
    padding: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

/* about style */
#about, #skills, #resume{
    padding-top:130px ;
}
#about .about-container{
    width: 91%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 131px 157px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #181818;
    
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;
}

/* skills */
#skills .skills-container{
    width: 91%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .section-heading p{
      font-size: 18px;
    color: #757575;
    margin-top: 30px;
    line-height: 30px;
}
#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skills-card{
    margin-top: 50px;
    padding: 30px;
    max-width: 267px;
    box-shadow:0 6px 50px 0 #0000002d ;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h4{
    margin-bottom: 20px;
    font-size: 20px;
    font: bold;
    color: #181818;
}
.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#resume .resume-container{
    width: 91%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
}
/* #resume.section-title{
    padding-top: 30;
    
} */

#resume .card-title{
    font-size: 25px;
    color: #474747;
    font-weight: bold;
    padding-top: 30px;
}
#resume .card-info{
    font-size: 20px;
    font: weight 600px;
    color:#757575;
    padding-top: 23px;
}
#resume .card-text{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    padding-top: 7px;
    padding-bottom: 30px;
}
.exparince{
    max-width: 511px;
    padding-top: 113px;  
}
.education{
     max-width: 511px;
    padding-top: 113px; 
    padding-right: 71px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 91%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icon a{
    margin-right: 24px;
}
.footer-container form input[type="text"],.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
}