*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}
.about-heading{
    max-width: 827px;
    text-align: center;
}
.about-heading h4{
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #181818;
}
.about-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}

/* logo */
.logo h3 {
    font-size: 45px;
    font:bolder;
}
.color-orange{
    color: #FD6E0A;
}
/* main style */
header{
    background-color:#fff8f3 ;
    padding-top: 50px;
    background-image: url("../images/developer.png" ), url("../images/header_bg.png");
    background-position: top left, right bottom;
    background-repeat: no-repeat;
}

nav{
    width: 91%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type:none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    color: #474747;
    font-size: 20px;
}

/* banner style */
#banner{
    padding: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

/* about style */
#about{
    padding-top:130px ;
}
#about .about-container{
    width: 91%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 131px 157px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #181818;
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;
}